name: Release
on:
  push:
    tags:
      - v*.*.*

jobs:
  build:
    name: Build the Python distribution packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.10"
      - name: Setup poetry
        uses: abatilo/actions-poetry@v3.0.2
        with:
          poetry-version: 2.2.1
      - name: Combine Readme and Changelog for PyPI
        run: |
          cp README.md README_ONLY.md
          cat README_ONLY.md CHANGELOG.md > README.md
      - name: Build package
        run: poetry build
      - name: Store the distribution packages
        uses: actions/upload-artifact@v5
        with:
          name: python-package-distributions
          path: dist/
  publish-to-pypi:
    name: Publish Python distribution to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/gherlint
    permissions:
      # mandatory for trusted publishing
      id-token: write
    steps:
      - name: Download distribution files
        uses: actions/download-artifact@v6
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
